
#contact-area {
	width: 100%;
	margin-top: 25px;
	margin: auto;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 35%;
        /* font-size: 1.4em; */
	margin: 0px 30% 10px 0px;
	border: 1px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #3A92D7;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
	clear: right;
}


#contact-area div.g-recaptcha {
	float: right;
	clear: left;
	padding: 0px;
	width: 27%;
	margin: 0px 30% 10px 0px;

}




label {
	float: left;
	text-align: right;
	margin-right: 2%;
	width: 33%;
	padding-top: 5px;
	font-weight: normal;
	/* font-size: 1.4em; */
}